* {
    font-family: 'Quicksand', sans-serif;
  }
  
  .loginPage-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #root {
    width: 100%;
    height: 100%;
  }